{{ "<!-- Seção Apoio -->" | safeHTML }}
<section id="apoio">
  <div class="section-services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">{{ .Params.apoio.titulo }}<span class="dot">.</span></h2>
        </div>
      </div>

      {{ range .Params.apoio.parceiros }}
        <div class="lista flexbox text-center">
          {{ range .linha }}
          <div class="col-sm-4 card-anteriores">
            {{ $url := printf "img/apoio/%s" .img }}
            <a href="{{ .url | absURL }}">
              <img src="{{ $url | absURL }}" alt="{{ .descricao_img }}" loading="lazy">
            </a>
          </div>
          {{ end }}
        </div>
      {{ end }}
      <br>
    </div>
  </div>
</section>
