{{ "<!-- Seção Festa -->" | safeHTML }}
<section id="{{ .Params.festa.id }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="">{{ .Params.festa.titulo }}<span class="dot">!</span></h2>
            {{ range $descricao := .Params.festa.descricao}}
              <p class="texto">{{ $descricao | markdownify }}</p>
            {{ end }}
            <div class="row text-center">
              {{ $url := printf "img/local/%s" .Params.festa.img }}
              <a href="{{ .Params.festa.link }}"><img src="{{ $url | absURL }}" alt="" class="img-responsive centralizado" loading="lazy"></a>
            </div>

            <div class="row text-center">
              {{ range $atracao := .Params.festa.atracoes}}
                <p class="texto">{{ $atracao | markdownify }}</p>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
