<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
  {{ with .Site.Params.name }}<meta name="author" content="{{ . }}">{{ end }}
  {{ hugo.Generator }}
  <title>{{ .Title }}{{ if not .IsHome }} &middot; {{ .Site.Title }}{{ end }}</title>
  {{ "<!-- Stylesheets -->" | safeHTML }}
  <link href="{{ "css/bootstrap-v3.3.7/bootstrap.min.css" | absURL }}" rel="stylesheet">
  <link href="{{ "css/agency.css" | absURL }}" rel="stylesheet">
  <link href="{{ "css/jquery.form-validator-v2.3.44/theme-default.min.css" | absURL }}" rel="stylesheet">

  {{ "<!-- Custom Fonts -->" | safeHTML }}
  <link href="{{ "font-awesome-v4.7.0/css/font-awesome.min.css" | absURL }}" rel="stylesheet" type="text/css">

  <link href="{{ "fonts/montserrat.css" | absURL }}" rel="stylesheet" type="text/css">
  <link href="{{ "fonts/kaushanscript.css" | absURL }}" rel="stylesheet" type="text/css">
  <link href="{{ "fonts/droidserif.css" | absURL }}" rel="stylesheet" type="text/css">
  <link href="{{ "fonts/robotoslab.css" | absURL }}" rel="stylesheet" type="text/css">

  {{ with .Site.Params.favicon }}
    <link rel="shortcut icon" type="image/x-icon" href="{{ . | absURL }}">
    <link rel="icon" type="image/x-icon" href="{{ . | absURL }}">
  {{ end }}
</head>
