{{ "<!-- Seção Keynotes -->" | safeHTML }}
<section id="keynotes" class="section-keynote">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="row">
          <h2 class="">Keynote: {{ .Params.keynotes.titulo }}<span class="dot">!</span></h2>
            <div class="keynote text-center">
              <img src="{{ "img/keynote/keynote_cr2018_isabela_tor.png" | absURL }}" class="img-responsive" alt="" loading="lazy">
                <h3>{{ .Params.keynotes.data | markdownify }}</h3>
                <p class="texto">{{ .Params.keynotes.descricao | markdownify }}</p>
                <h3>{{ .Params.keynotes.nome | markdownify }} | {{ .Params.keynotes.origem | markdownify }}</h3>
                <h5>{{ .Params.keynotes.bio | markdownify }}</h5>
           </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</section>
