{{ "<!-- Seção Sobre -->" | safeHTML }}
<section id="sobre">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ .Title }}<span class="dot">!</span></h2>
        {{ range .Params.sobre.descricao }}
          <p class="texto">{{ . | markdownify }}</p>
        {{ end }}
      </div>
    </div>
    <div class="video-container">
      <div class="video">
        
        <iframe src="https://player.vimeo.com/video/254294396" width="380" height="214" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        
        <iframe src="https://player.vimeo.com/video/203896701" width="380" height="214" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        
        <iframe width="380" height="214" src="https://www.youtube.com/embed/Ow8CEj665xM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <iframe width="380" height="214" src="https://www.youtube.com/embed/V-AhLKCsgOQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <iframe src="https://player.vimeo.com/video/121615419" width="380" height="214" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

        <iframe src="https://player.vimeo.com/video/165805981" width="380" height="214" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
