<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<title>CryptoRave</title>

  {{ partial "head.html" . }}

  <body id="page-top" class="index">
    {{ partial "nav.html" . }}

    {{ partial "hero.html" . }}

    {{ if .Site.Params.about.enable }}
      {{ partial "about.html" . }}
    {{ end }}
    {{ if .Site.Params.quotes.enable }}
      {{ partial "quotes.html" . }}
    {{ end }}

    {{ if .Site.Params.services.enable }}
      {{ partial "services.html" . }}
    {{ end }}

    {{ if .Site.Params.subscribe.enable }}
      {{ partial "subscribe.html" . }}
    {{ end }}

    {{ if .Site.Params.schedule.enable }}
      {{ partial "schedule.html" . }}
    {{ end }}

    {{ if .Site.Params.local.enable }}
      {{ partial "local.html" . }}
    {{ end }}

    {{ if .Site.Params.team.enable }}
      {{ partial "team.html" . }}
    {{ end }}

    {{ if .Site.Params.contact.enable }}
      {{ partial "contact.html" . }}
    {{ end }}

    {{ if .Site.Params.footer.enable }}
      {{ partial "footer.html" . }}
    {{ end }}

    {{ if .Site.Params.portfolio.enable }}
      {{ partial "modals.html" . }}
    {{ end }}

    {{ partial "js.html" . }}
  </body>
</html>
