{{ "<!-- Seção Inscrição -->" | safeHTML }}
<section id="inscricao">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
	      <h2 class="section-heading">{{ .Params.inscricao.titulo }}<span class="dot">.</span></h2>
<!--	<p class="texto-sm">{{ .Params.inscricao.descricao }}</p>
  {{ $link_ticket := printf "%s" .Params.inscricao.link_ticket }}
        <p class="texto">{{ $link_ticket | markdownify }}</p> -->
	<p class="texto-sm">{{ .Params.inscricao.descricao_boletim }}</p>
          {{ $link_boletim := printf "%s" .Params.inscricao.link_boletim }}
        <p class="texto">{{ $link_boletim | markdownify }}</p>
      </div>
    </div>
  </div>
</section>
