.cell-height1 { height: 20px; }
.cell-height2 { height: 37px; }
.cell-height3 { height: 57px; }
.cell-height4 { height: 77px; }
.cell-height5 { height: 97px; }
.cell-height6 { height: 117px; }
.cell-height7 { height: 137px; }
.cell-height8 { height: 157px; }
.cell-height9 { height: 177px; }
.cell-height10 { height: 197px; }
.cell-height11 { height: 217px; }
.cell-height12 { height: 237px; }
.cell-height13 { height: 257px; }
.cell-height14 { height: 277px; }
.cell-height15 { height: 297px; }
.cell-height16 { height: 317px; }
.cell-height17 { height: 337px; }
.cell-height18 { height: 357px; }
.cell-height19 { height: 377px; }
.cell-height20 { height: 397px; }
.cell-height21 { height: 417px; }
.cell-height22 { height: 437px; }
.cell-height23 { height: 457px; }
.cell-height24 { height: 477px; }


.event.track-default {
  background-color: #555;
  border-color: #555;
}

.event.track-default div.event-header {
  background-color: #555;
}

.event.track-default div.event-header a {
  color: #fff;
}

.conference-background {
  background-color: #555;
}


.event.track-criptografia {
  background-color: #fefd7f;
  border-color: #fefd7f;
}
.event.track-criptografia div.event-header {
  background-color: #fefd7f;
}

.event.track-criptografia div.event-header a {
  color: #000;
}

#colorkeys .track-criptografia {
  background-color: #fefd7f;
}

.event.track-genero {
  background-color: #fefd7f;
  border-color: #fefd7f;
}
.event.track-genero div.event-header {
  background-color: #fefd7f;
}

.event.track-genero div.event-header a {
  color: #000;
}

#colorkeys .track-genero {
  background-color: #fefd7f;
}

.event.track-hacking {
  background-color: #fefd7f;
  border-color: #fefd7f;
}
.event.track-hacking div.event-header {
  background-color: #fefd7f;
}

.event.track-hacking div.event-header a {
  color: #000;
}

#colorkeys .track-hacking {
  background-color: #fefd7f;
}

.event.track-politica {
  background-color: #fefd7f;
  border-color: #fefd7f;
}
.event.track-politica div.event-header {
  background-color: #fefd7f;
}

.event.track-politica div.event-header a {
  color: #000;
}

#colorkeys .track-politica {
  background-color: #fefd7f;
}

.event.track-rave {
  background-color: #fefd7f;
  border-color: #fefd7f;
}
.event.track-rave div.event-header {
  background-color: #fefd7f;
}

.event.track-rave div.event-header a {
  color: #000;
}

#colorkeys .track-rave {
  background-color: #fefd7f;
}

.event.track-seguranca {
  background-color: #fefd7f;
  border-color: #fefd7f;
}
.event.track-seguranca div.event-header {
  background-color: #fefd7f;
}

.event.track-seguranca div.event-header a {
  color: #000;
}

#colorkeys .track-seguranca {
  background-color: #fefd7f;
}

#colorkeys {
  font-size: .8em;
  opacity: .85;
}

#colorkeys ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#colorkeys ul li {
  margin: 0 .2em;
  float: right;
}

#colorkeys ul li div {
  padding: 0;
}

/* Custom Conference CSS */

