{{ "<!-- About Section -->" | safeHTML }}
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="">{{ with .Site.Params.about.title }}{{ . | markdownify }}{{ end }}</h2>
        <p class="secundaria">{{ with .Site.Params.about.subtitle }}{{ . | markdownify }}{{ end }}</p>
        <p class="secundaria">{{ with .Site.Params.about.subtitle2 }}{{ . | markdownify }}{{ end }}</p>
        <p class="secundaria">{{ with .Site.Params.about.subtitle3 }}{{ . | markdownify }}{{ end }}</p>
        <p class="secundaria">{{ with .Site.Params.about.subtitle4 }}{{ . | markdownify }}{{ end }}</p>

<br>
<br>
        <iframe src="https://player.vimeo.com/video/203896701" width="80%" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
