{{ "<!-- Local Section -->" | safeHTML }}
<section id="local">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-heading text-center">{{ with .Site.Params.local.title }}{{ . | markdownify }}{{ end }}</h2>
        <h3 class="sobre text-center">{{ with .Site.Params.local.subtitle }}{{ . | markdownify }}{{ end }}</h3>
            {{ range .Site.Params.local.detail }}
        <div class="col-md-6">

               {{ $url := printf "img/local/%s" .img }}
                 <a href="{{ .site }}"><img src="{{ $url | absURL }}" class="img-responsive"></a>

               {{ with .address }}
                 <p class="local">{{ .  | markdownify }}</p>
               {{ end }}
               {{ with .mapa }}
               <p class="local"> <a href="{{ . }}">Clique para ver o mapa</a></p>
               {{ end }}
        </div>

           {{ end }}

      </div>

    </div>
  </div>
</section>
