{{ "<!-- Quotes -->" | safeHTML }}
<aside class="quotes">
  <div class="container quotes">
    <div class="row">
      <div class="col-lg-12 text-center">
        <!--<h4 class="heading">{{ with .Site.Params.quotes.title }}{{ . | markdownify }}{{ end }}</h4>-->
      </div>
    </div>
    <div class="col-lg-12 text-center">
        <h4 class="heading">{{ with .Site.Params.quotes.description }}{{ . | markdownify }}{{ end }}</h4>
    </div>
  </div>
</aside>
