{{ "<!-- Schedule -->" | safeHTML }}
<section id="schedule" class="section-keynote">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
      <h2 class="">{{ with .Site.Params.schedule.title }}{{ . }}{{ end }}</h2>

   <div class="row flexbox{{ if .Site.Params.keynote }} flexbox-center{{ end }}">
      {{ range .Site.Params.keynote }}
        <div class="col-md-5 col">
          <div class="keynote">

            {{ $url := printf "img/keynote/%s" .img }}
            <img src="{{ $url | absURL }}" class="img-responsive" alt="{{ .name }}">

            {{ with .title }}
            <h3>{{ . | markdownify }}</h3>
            {{ end }}

            <h4>{{ .name | markdownify }}</h4>

            {{ with .date }}
            <h5>Data: {{ . | markdownify }}</h5>
            {{ end }}

            {{ with .bio }}
            <p class="keynote-bio">{{ . | markdownify }}</p>
            {{ end }}

          </div>
        </div>
      {{ end }}
    </div>


   <div class="row">
     <div class="col-lg-12 text-center">
       <h2 class="">{{ with .Site.Params.schedule.programacao }}{{ . }}{{ end }}<span class="dot">.</span></h2>

       <h3 class="sobre">{{ with .Site.Params.schedule.programacao1 }}{{ . | markdownify }}{{ end }}</h3>
     </div>
   </div>
      <div class="row">
     <div class="col-lg-12 text-center">
       <h2 class="">{{ with .Site.Params.schedule.festa }}{{ . }}{{ end }}<span class="dot">!</span></h2>
       <h3 class="sobre">{{ with .Site.Params.schedule.festa1 }}{{ . | markdownify }}{{ end }}</h3>
        <div class="row flexbox{{ if .Site.Params.festa }} flexbox-center{{ end }}">
         {{ range .Site.Params.festa }}
           <p class="sobre">{{ delimit .festa "<br/> " }}
         {{ end }}
        </div>
       <div class="keynote">
           <img src="img/keynote/rave.gif" class="img-responsive" alt="">
       </div>
     </div>
   </div>
 
  </div>
</section>
