{{ "<!-- Services -->" | safeHTML }}
<section id="services">
<div class="section-services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="">{{ with .Site.Params.services.title }}{{ . }}{{ end }}</h2>
        <p class="secundaria">{{ with .Site.Params.services.subtitle }}{{ . | markdownify }}{{ end }}</p>

        <iframe frameborder="0" height="354px" src="https://www.catarse.me/pt/projects/50512/embed" width="300px" scrolling="no"></iframe>

      </div>
    </div>
    {{ range .Site.Params.services.row }}
      <div class="row text-center">
        {{ range .list }}
          <div class="col-sm-4">
            <span class="fa-stack fa-4x">
              {{ $url := printf "img/recompensas/%s" .img }}
              <img src="{{ $url | absURL }}" class="img-responsive recompensa-img" alt="{{ .name }}">
            </span>
            <h4 class="service-heading">{{ if .url }}<a href="{{ .url | absURL }}">{{ .title | markdownify }}</a>{{ else }}{{ .title | markdownify }}{{ end }}</h4>
            <p class="secundaria">{{ .description | markdownify }}</p>
          </div>
        {{ end }}
      </div>
    {{ end }}
     <div class="col-lg-12 text-center">            
       <h2 class="">{{ with .Site.Params.services.titlebtc }}{{ . }}{{ end }}</h2>
       <p class="secundaria">{{ with .Site.Params.services.subtitlebtc }}{{ . | markdownify }}{{ end }}</p>
       <p><span class="fa">{{ with .Site.Params.services.address }}{{ . | markdownify }}{{ end }}</span></p>
     </div>
  </div>
  </div>
</section>
