{{ "<!-- Subscribe Section -->" | safeHTML }}
<section id="subscribe">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">

        {{ with .Site.Params.subscribe.title }}
       <h2 class="">{{ . | markdownify }}</h2>
        {{ end }}

        {{ with .Site.Params.subscribe.subtitle }}
        <p class="secundaria">{{ . | markdownify }}</p>
        {{ end }}
       {{ with .Site.Params.subscribe.description }}
        <p class="secundaria">{{ . | markdownify }}</p>
        {{ end }}
      </div>
    </div>
    <div class="row">
    <div class="large-12 text-center">
    <br>
          {{ with .Site.Params.subscribe.form.email }}
          <FORM ACTION="https://lists.riseup.net/www" METHOD="POST">
              <span class="icon icon_mail"></span> <INPUT NAME="email" type="email" SIZE="30" placeholder="{{ with .text }}{{ . | markdownify }}{{ end }}" data-validation-error-msg="{{ with .warning }}{{ . | markdownify }}{{ end }}">
              <INPUT TYPE="hidden" NAME="list" VALUE="cryptorave-boletim">
              <INPUT TYPE="hidden" NAME="action" VALUE="subrequest">
              <INPUT TYPE="submit" class="btn" NAME="action_subrequest" VALUE="Inscrever!" >
          </FORM>
          {{ end }}
    </div>

    </div>
    
  </div>
</section>
