{{ "<!-- Team Section -->" | safeHTML }}
<section id="team" class="">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ with .Site.Params.team.title }}{{ . | markdownify }}{{ end }}<span class="dot">.</span></h2>
        <h3 class="section-subheading text-mutedwith ">{{ with .Site.Params.team.subtitle }}{{ . | markdownify }}{{ end }}</h3>
      </div>
    </div>
    <div class="row flexbox{{ if .Site.Params.team.center }} flexbox-center{{ end }}">
      {{ range .Site.Params.team.members }}
        <div class="col-sm-4 col">
          <div class="team-member">
            {{ $url := printf "img/team/%s" .img }}
            <a href="{{ .url }}"><img src="{{ $url | absURL }}" class="img-responsive" alt="{{ .name }}"></a>
            <h3>{{ .name | markdownify }}</h3>

            {{ with .position }}
            <h4>{{ . | markdownify }}</h4>
            {{ end }}
            {{ with .reportsTo }}
            <h5 class="report">Reports to {{ . | markdownify }}</h5>
            {{ end }}

            {{ with .scope }}
            <ul>
              {{ range . }}
                <li>{{ . | markdownify }}</li>
              {{ end }}
            </ul>
            {{ end }}

            <ul class="list-inline social-buttons">
              {{ range .social }}
                <li><a href="{{ index . 1 }}"><i class="fa {{ index . 0 }}"></i></a></li>
              {{ end }}
            </ul>

            {{ with .bio }}
            <p class="team-bio">{{ . | markdownify }}</p>
            {{ end }}

          </div>
        </div>
      {{ end }}
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p class="large text-muted">{{ with .Site.Params.team.description }}{{ . | markdownify }}{{ end }}</p>
      </div>
    </div>
    <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
             <h2 class="section-heading">{{ with .Site.Params.team.patrocinadores }}{{ . | markdownify }}{{ end }}<span class="dot">.</span></h2>
          </div>
      <div class="col-lg-12 text-center">
         <div class="row flexbox{{ if .Site.Params.doadores }} flexbox-center{{ end }}">
            {{ range .Site.Params.doadores }}
              <p class="doadores">{{ delimit .nome "<br/> " }}
            {{ end }}
         </div>
      </div>
    <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">

             <h3 class="sobre">{{ with .Site.Params.team.mensagemfim }}{{ . | markdownify }}{{ end }}</h3>
          </div>
    </div>


    <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">

            <h2 class="">{{ with .Site.Params.apoio.title }}{{ . | markdownify }}{{ end }}<span class="dot">.</span></h2>
          </div>
            <p class="secundaria">{{ with .Site.Params.apoio.subtitle }}{{ . | markdownify }}{{ end }}</p>
          <div class="col-lg-12 text-center">
             <div class="row flexbox{{ if .Site.Params.apoio.org }} flexbox-center{{ end }}">
              {{ range .Site.Params.apoio.org }}

              {{ $url := printf "img/team/%s" .img }}
                <a href="{{ .url }}"><img src="{{ $url | absURL }}" class="img-responsive" alt="{{ .name }}"></a>

              {{ end }}
  
          </div>   
    </div>


</section>
