{{ "<!-- Seção Divulgação -->" | safeHTML }}
<section id="divulgacao">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
	      <h2 class="section-heading">{{ .Params.divulgacao.titulo }}<span class="dot">.</span></h2>
	<p class="texto-sm">{{ .Params.divulgacao.descricao | markdownify }}</p>
      </div>
    </div>
  </div>
</section>