{{ "<!-- Seção local -->" | safeHTML }}
<section id="local">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ .Params.local.titulo }}<span class="dot">.</span></h2>

        {{ range $descricao := .Params.local.descricao}}
          <p class="texto">{{ $descricao | markdownify }}</p>
        {{ end }}

        <div class="map-container">
          <div class="map">
            <iframe src="{{ .Params.local.mapa.iframe_src }}" frameborder="0"></iframe>
          </div>
        </div>
        <small><a href="{{ .Params.local.mapa.link }}" target="_blank">{{ .Params.local.mapa.tooltip }}</a></small>
      </div>
    </div>
  </div>
</section>
