{{ "<!-- Programação -->" | safeHTML }}
<section id="programacao">
  <div class="section-services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">{{ .Params.programacao.titulo }}<span class="dot">.</span></h2>
          <div class="row">
            <div class="col-lg-12 text-center">
              {{ range $descricao := .Params.programacao.descricao}}
                <p class="texto">{{ $descricao | markdownify }}</p>
              {{ end }}
            </div>
            {{if .Params.programacao.img }}
              <div class="video-container">
                {{ $url := printf "img/programacao/%s" .Params.programacao.img }}
                <img src="{{ $url | absURL }}" class="responsive">
              </div>
            {{ end }}
          </div>
        </div>
      </div>

      {{ if .Site.Params.programacao.anteriores }}
        {{ range .Params.programacao.anteriores }}
          <div class="lista flexbox text-center">
            {{ range .linha }}
            <div class="col-sm-4 card-anteriores">
              {{ $url := printf "img/crlogos/%s" .img }}
              <a href="{{ .url | absURL }}">
                <img src="{{ $url | absURL }}" alt="{{ .descricao_img }}">
                <h4>{{ .titulo }}</h4>
              </a>
            </div>
            {{ end }}
          </div>
        {{ end }}
      {{ end }}

    </div>
  </div>
</section>
