{{ "<!-- Hero -->" | safeHTML }}
<header class="header-index" title="{{ .Params.header.descricao }}">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in"></div>
      <div class="intro-heading"></div>
    </div>
  </div>
</header>
