{{ "<!-- Navigation -->" | safeHTML }}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    {{ "<!-- Brand and toggle get grouped for better mobile display -->" | safeHTML }}
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{ if .Params.nav.logo }}
        <a class="navbar-brand page-scroll" href="#page-top">
          {{ $url := printf "img/%s" .Params.nav.logo }}
          <img src="{{ $url | absURL }}" class="img-responsive" alt="{{ .Params.nav.descricao }}">
        </a>
      {{ else }}
        <a class="navbar-brand page-scroll" href="#page-top">
          {{ .Params.nav.descricao }}
        </a>
      {{ end }}

    </div>
    {{ "<!-- Collect the nav links, forms, and other content for toggling -->" | safeHTML }}
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>

        {{ if .Site.Params.sobre.navbar }}
          <li>
            <a class="page-scroll" href="{{ .URL }}#{{ .Params.sobre.id }}">{{ .Params.nav.sobre }}</a>
          </li>
        {{ end }}

        {{ if .Site.Params.financiamento.navbar }}
          <li>
            <a class="page-scroll" href="{{ .URL }}#{{ .Params.financiamento.id }}">{{ .Params.nav.financiamento }}</a>
          </li>
        {{ end }}

        {{ if .Site.Params.inscricao.navbar }}
          <li>
            <a class="page-scroll" href="{{ .URL }}#{{ .Params.inscricao.id }}">{{ .Params.nav.inscricao }}</a>
          </li>
        {{ end }}

        {{ if .Site.Params.keynotes.navbar }}
          <li>
            <a class="page-scroll" href="{{ .URL }}#{{ .Params.keynotes.id }}">{{ .Params.nav.keynotes }}</a>
          </li>
        {{ end }}

        {{ if .Site.Params.programacao.navbar }}
          <li>
            <a class="page-scroll" href="{{ .URL }}#{{ .Params.programacao.id }}">{{ .Params.nav.programacao }}</a>
          </li>
        {{ end }}

        {{ if .Site.Params.local.navbar }}
          <li>
            <a class="page-scroll" href="{{ .URL }}#{{ .Params.local.id }}">{{ .Params.nav.local }}</a>
          </li>
        {{ end }}

        {{ if .Site.Params.festa.navbar }}
          <li>
            <a class="page-scroll" href="{{ .URL }}#{{ .Params.festa.id }}">{{ .Params.nav.festa }}</a>
          </li>
        {{ end }}

        {{ if .Site.Params.realizacao.navbar }}
          <li>
            <a class="page-scroll" href="{{ .URL }}#{{ .Params.realizacao.id }}">{{ .Params.nav.realizacao }}</a>
          </li>
        {{ end }}

        {{ if .Site.Params.apoio.navbar }}
          <li>
            <a class="page-scroll" href="{{ .URL }}#{{ .Params.apoio.id }}">{{ .Params.nav.apoio }}</a>
          </li>
        {{ end }}

        {{ if .Site.Params.patrocinadores.navbar }}
          <li>
            <a class="page-scroll" href="{{ .URL }}#{{ .Params.patrocinadores.id }}">{{ .Params.nav.patrocinadores }}</a>
          </li>
        {{ end }}

        {{ if .Site.Params.contato.navbar }}
          <li>
            <a class="page-scroll" href="{{ .URL }}#{{ .Params.contato.id }}">{{ .Params.nav.contato }}</a>
          </li>
        {{ end }}

        {{ range .Params.nav.menu_extra }}
          <li>
            <a href="{{ .url }}">{{ .name }}</a>
          </li>
        {{ end }}
      </ul>
    </div>
    {{ "<!-- /.navbar-collapse -->" | safeHTML }}
  </div>
  {{ "<!-- /.container-fluid -->" | safeHTML }}
</nav>
