<h1>[CRYPTORAVE 2016][ENCERRADO] Chamada para atividades</h1>

<p>A CryptoRave está abrindo hoje a chamada de trabalhos para sua próxima edição, em 2016! A CryptoRave é o maior evento de segurança e privacidade no Brasil, organizada voluntariamente com o objetivo de disseminar a criptografia para todos, de forma gratuíta e aberta.</p>

<p>A próxima edição da CryptoRave ocorrerá <strong>dia 6 e 7 de maio de 2016</strong>, no Centro Cultural São Paulo e seguirá o mesmo modelo da edição anterior: financiamento coletivo do evento, trilhas de discussão, palestrantes do Brasil e do mundo, workshops, festa na madrugada e muitas outras atividades!</p>

<p>Você pode participar enviando uma proposta de atividade para o evento. Veja abaixo os formatos de atividades, prazos, temas e tópicos.</p>

<p>Se você deseja colaborar de outra forma como, por exemplo, ajudando na organização do evento no dia, em abril faremos um chamado para essa nobre e importante atividade!</p>

<p>Assine nosso boletim e acompanhe as nossas atualizações.</p>

<hr>

<h2>Formatos de Atividades</h2>

<p>As atividades poderão ter diversos formatos como:</p>

<ul>
<li> Apresentação musical, literatura, exibição de filme ou instalação artística</li>
<li> Palestra e debate</li>
<li> Oficina, jogo, mão na massa, colaboração em projeto free/libre/open software/source</li>
<li> Exposição de trabalhos</li>
</ul>
<p>As propostas deverão seguir o modelo abaixo e todas serão avaliadas pela organização.

<ul>
<li> As atividades de palestras que forem merchandising de produtos[1] serão automaticamente desclassificadas.</li>
<li> Não haverá nenhuma compensação financeira ou contrapartida da CryptoRave ao colaborador de uma atividade.</li>
<li> Não serão aceitas as propostas enviadas por outros meios como twitter e facebook.</li>
</ul>
<p></p>

<h2>Prazo de envio</h2>

<p>As propostas poderão ser enviadas a partir de 17/dezembro/2015 até 04/abril/2016 e deverão ser enviadas para o e-mail: <strong>contato ARROBA cryptorave.org</strong>
</p>

<h2>Temas e tópicos</h2>

<p>Sugestões de temas e tópicos para as atividades</p>
<ul>
<li> Criptografia: do básico ao avançado. Teoria e implementações</li>
<li> Segurança para ativistas e defensores de direitos humanos</li>
<li> Gênero e Privacidade online: incluindo diversidade na segurança digital</li>
<li> Violação do direito a privacidade e liberdade de expressão</li>
<li> Como governos e empresas violam sua privacidade: espionagem e vigilância no Brasil e no mundo</li>
<li> Hacking, hacking das coisas, fuzzing, exploits e segurança ofensiva</li>
<li> Open hardware e cripto dispositivos</li>
<li> Guerra cibernética e o futuro da rede</li>
<li> Hardening de sistemas operacionais</li>
<li> Soberania computacional, descentralização e federação</li>
<li> Dissidentes políticos, denunciantes e vazamentos de informações</li>
<li> Sistemas eletrônicos do governo e suas vulnerabilidades</li>
</ul>

<h2>Modelo de proposta</h2>

<p>TITULO DA ATIVIDADE</p>

<p>NOME ou PSEUDÔNIMO ou NICK</p> 

<p>EMAIL PARA CONTATO (Em caso de dúvida, entraremos em contato, por isso um e-mail válido é importante. não será público, inclua sua chave PGP se tiver)</p>

<p>RESUMO: máximo 800 palavras</p>

<p>MINI BIOGRAFIA: máximo 300 palavras</p>

<p>FORMATO DA ATIVIDADE: palestra, debate, apresentação musical, exibição de filme, etc</p>



<h2>Importante</h2>

<p>A proposta deverá ser enviada no formato txt.</p>

<p>Demais anexos como apresentação e slides em .pdf</p>



<p>[1] Em caso de dúvida sobre o que é merchandising: https://en.wikipedia.org/wiki/Merchandising</p>

<script data-no-instant>document.write('<script src="/livereload.js?port=1313&mindelay=10"></' + 'script>')</script></body>
</html>
