<!DOCTYPE html>
<html lang="pt-br">

  {{ partial "head.html" . }}

    {{ "<!-- 404 -->" | safeHTML }}
    <div class="header-404">
      <div class="container">
        <div class="404">
          <div class="intro-text">
            <div class="intro-heading">{{ .Site.Params.erro404.titulo | markdownify}}</div>
            <div class="intro-lead-in">{{ .Site.Params.erro404.heading | markdownify }}</div>
            <div class="intro-lead-in">{{ .Site.Params.erro404.text | markdownify }}</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
