<!DOCTYPE html>
<html lang="{{ .Params.language_code }}">

  {{ partial "head.html" . }}

  <body id="page-top" class="index">
    {{ partial "nav.html" . }}

    {{ partial "header.html" . }}

    {{ if .Site.Params.idiomas.enable }}
      {{ partial "idiomas.html" . }}
    {{ end }}

    {{ if .Site.Params.sobre.enable }}
      {{ partial "sobre.html" . }}
    {{ end }}

    {{ if .Site.Params.financiamento.enable }}
      {{ partial "financiamento.html" . }}
    {{ end }}

    {{ if .Site.Params.inscricao.enable }}
      {{ partial "inscricao.html" . }}
    {{ end }}

    {{ if .Site.Params.programacao.enable }}
      {{ partial "programacao.html" . }}
    {{ end }}

    {{ if .Site.Params.keynotes.enable }}
      {{ partial "keynotes.html" . }}
    {{ end }}

    {{ if .Site.Params.divulgacao.enable }}
      {{ partial "divulgacao.html" . }}
    {{ end }}

    {{ if .Site.Params.local.enable }}
      {{ partial "local.html" . }}
    {{ end }}

    {{ if .Site.Params.festa.enable }}
      {{ partial "festa.html" . }}
    {{ end }}

    {{ if .Site.Params.realizacao.enable }}
      {{ partial "realizacao.html" . }}
    {{ end }}

    {{ if .Site.Params.apoio.enable }}
      {{ partial "apoio.html" . }}
    {{ end }}

    {{ if .Site.Params.patrocinadores.enable }}
      {{ partial "patrocinadores.html" . }}
    {{ end }}

    {{ if .Site.Params.contato.enable }}
      {{ partial "contato.html" . }}
    {{ end }}

    {{ if .Site.Params.footer.enable }}
      {{ partial "footer.html" . }}
    {{ end }}

    {{ partial "js.html" . }}
  </body>
</html>
