{{ "<!-- Seção Contato -->" | safeHTML }}
<section id="{{ .Params.contato.id }}">
  <div class="container" title="{{ .Params.contato.descricao }}">
    <div class="row">
      <div class="col-lg-12 text-center">
          <h2 class="section-heading">{{ .Params.contato.titulo }}<span class="dot">.</span></h2>
          {{ $subtitulo := printf "%s" .Params.contato.subtitulo }}
          <h3 class="section-subheading text-muted">{{ $subtitulo | markdownify }}</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <form  action="https://formspree.io/{{ .Site.Params.contato.email }}" method="POST" name="sentMessage" id="contactForm">
        {{ $language_code := printf "%s" .Params.contato.formspree_language_code }}
        <input type="hidden" name="_language" value="{{ $language_code }}" />
        <input type="hidden" name="_next" value="{{ .URL | absURL }}" />

        <fieldset>
          <div class="row">
            <div class="col-md-6">
              {{ with .Params.contato.validacao.nome }}
                <div class="form-group">
                  <input class="form-control" id="name" type="text" name="name" placeholder="{{ .placeholder }}">
                  <p class="help-block text-danger"></p>
                </div>
              {{ end }}

              {{ with .Params.contato.validacao.email }}
                <div class="form-group">
                  <input class="form-control" id="email" required="required" type="email" name="email" placeholder="{{ .placeholder }}" data-validation-error-msg="{{ .aviso}}">
                  <p class="help-block text-danger"></p>
                </div>
              {{ end }}
            </div>

            <div class="col-md-6">
              {{ with .Params.contato.validacao.mensagem }}
                <div class="form-group">
                  <textarea class="form-control" id="message" required="required" name="message" placeholder="{{ .placeholder }}" data-validation-error-msg="{{ .aviso }}"></textarea>
                  <p class="help-block text-danger"></p>
                </div>
              {{ end }}
            </div>

            <div class="clearfix"></div>
              <div class="col-lg-12 text-center">
                <button type="submit" value="Submit" class="btn btn-xl">{{ .Params.contato.button_text }}</button>
              </div>
          </div>
        </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>
