{{ "<!-- Seção Idiomas -->" | safeHTML }}
<div class="container">
  <div class="idiomas">

    {{ if eq .Params.language_code "pt-br" }}
      pt-br
    {{ else }}
      <a href="/" style="font-weight: bold">pt-br</a>
    {{ end }}
    /
    {{ if eq .Params.language_code "en" }}
      en
    {{ else }}
      <a href="/en" style="font-weight: bold">en</a>
    {{ end }}
    /
    {{ if eq .Params.language_code "es" }}
      es
    {{ else }}
      <a href="/es" style="font-weight: bold">es</a>
    {{ end }}
  </div>
</div>
