{{ "<!-- Seção Inscrição -->" | safeHTML }}
<section id="inscricao">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ .Params.inscricao.titulo }}<span class="dot">.</span></h2>
        <p class="texto-sm">{{ .Params.inscricao.descricao }}</p>
          {{ $link := printf "%s" .Params.inscricao.link }}
        <p class="texto">{{ $link | markdownify }}</p>
      </div>
    </div>
  </div>
</section>
