{{ "<!-- jQuery -->" | safeHTML }}
<script src="{{ "js/jquery-v3.3.1/jquery.min.js"| absURL }}"></script>

{{ "<!-- Bootstrap Core -->" | safeHTML }}
<script src="{{ "js/bootstrap-v3.3.7/bootstrap.min.js"| absURL }}"></script>

{{ "<!-- Form Validation -->" | safeHTML }}
<script src="{{ "js/jquery.form-validator-v2.3.44/jquery.form-validator.min.js"| absURL }}"></script>

{{ "<!-- Custom Theme -->" | safeHTML }}
<script src="{{ "js/agency.js"| absURL }}"></script>
