{{ "<!-- Seção Sobre -->" | safeHTML }}
<section id="sobre">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ .Title }}<span class="dot">!</span></h2>
        {{ range .Params.sobre.descricao }}
          <p class="texto">{{ . | markdownify }}</p>
        {{ end }}
      </div>
    </div>
    <div class="video-container">
      <div class="video">
        <iframe src="{{ .Params.sobre.vimeo_link }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
