{{ "<!-- Seção Financiamento -->" | safeHTML }}
<section id="{{ .Params.financiamento.id }}">
  <div class="section-services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">{{ .Params.financiamento.titulo }}<span class="dot">.</span></h2>
          <p class="texto">{{ .Params.financiamento.descricao | markdownify }}</p>
        </div>
      </div>
      {{ if not .Site.Params.financiamento.encerrada}}
        {{ range .Params.financiamento.recompensas }}
          <div class="flexbox text-center">
            {{ range .linha }}
            <div class="col-sm-4 card">
              <a href="{{ .url | absURL }}">
                <h2 class="service-heading">{{ .valor }}</h2>
                <p class="texto">{{ .descricao | markdownify }}</p>
              </a>
            </div>
            {{ end }}
          </div>
        {{ end }}
      {{ end }}

      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="">{{ .Params.financiamento.titulo_btc }}</h2>
          <p class="texto-sm">{{ .Params.financiamento.descricao_btc }}</p>
          <p class="texto btc-addr">{{ .Params.financiamento.endereco }}</p>
          <a href="{{ .Params.financiamento.link_blockchain }}"><img src="{{ "img/qrcode.png" | absURL }}" class="img-responsive centralizado" alt="{{ .Params.financiamento.descricao_qrcode }}"></a>
        </div>
      </div>
    </div>
  </div>
</section>
