{{ "<!-- Footer -->" | safeHTML }}
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        {{ $copyright := printf "%s" .Params.footer.copyright }}
        <span class="copyright">{{ $copyright | markdownify }}</span>
      </div>

      <div class="col-sm-4">
        <ul class="list-inline social-buttons">
          {{ range .Params.footer.social }}
            <li><a href="{{ .link }}"><i class="fa {{ .icon }}"></i></a></li>
          {{ end }}
        </ul>
      </div>

      <div class="col-sm-4">
        <ul class="list-inline quicklinks">
          <li><a href="{{ .Params.footer.antiassedio.link }}">{{ .Params.footer.antiassedio.texto }}</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
