{{ "<!-- Seção Patrocinadores -->" | safeHTML }}
<section id="patrocinadores">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ .Params.patrocinadores.titulo }}<span class="dot">.</span></h2>
        <p class="texto">{{ .Params.patrocinadores.descricao | markdownify }}</p>
      </div>
    </div>

    <div class="flexbox">
      {{ range .Params.patrocinadores.doadores }}
        <div class="col-xs-12 col-sm-4 col-md-3 text-center">
          {{ range . }}
            <p class="doador">{{ . }}</p>
          {{ end }}
        </div>
      {{ end }}
    </div>
  </div>
</section>
